In [ ]:
'''
Подготовка датасета
'''

In [2]:
import pandas as pd
dataset = pd.read_csv('movies.csv')
dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M

In [ ]:
'''
Оценим размер, типы данных и наличие дубликатов
'''

In [3]:
dataset.shape

(5000, 11)

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   poster       5000 non-null   object
 1   title        5000 non-null   object
 2   certificate  5000 non-null   object
 3   runtime      5000 non-null   object
 4   genre        4970 non-null   object
 5   rating       5000 non-null   float64
 6   about        4986 non-null   object
 7   director     5000 non-null   object
 8   stars        5000 non-null   object
 9   votes        5000 non-null   object
 10  gross_earn   4585 non-null   object
dtypes: float64(1), object(10)
memory usage: 429.8+ KB

In [ ]:
'''
Оценим пропущенные значения по признаку gross_earn
'''

In [5]:
dataset['gross_earn'].isna().sum()

415

In [ ]:
'''
Не удаляем, т.к. требований нет, и информация по пропущенным значениям может быть интересной.
'''

In [ ]:
'''
Обработка колонок runtime и gross_earn: приведение к числовому типу
'''

In [6]:
dataset['runtime']

0              142 min
1              152 min
2              148 min
3              139 min
4              154 min
             ...
4995           102 min
4996            94 min
4997    Drama, Romance
4998            92 min
4999           120 min
Name: runtime, Length: 5000, dtype: object

In [ ]:
'''
Попалось значение с ошибочной информацией, а именно с жанрами.
Проверим другим способом.
'''

In [7]:
dataset['runtime'].unique()

array(['142 min', '152 min', '148 min', '139 min', '154 min', '178 min',
       '136 min', '201 min', '175 min', '164 min', '179 min', '127 min',
       '143 min', '155 min', '140 min', '165 min', '169 min', '121 min',
       '118 min', '162 min', '153 min', '151 min', '195 min', '113 min',
       '130 min', '124 min', '122 min', '194 min', '132 min', '202 min',
       '138 min', '119 min', '189 min', '180 min', '137 min', '106 min',
       '111 min', '116 min', '145 min', '110 min', '98 min', '107 min',
       '126 min', '100 min', '131 min', '133 min', '103 min', '108 min',
       '96 min', '99 min', '115 min', '88 min', '120 min', '81 min',
       '135 min', '146 min', '117 min', '104 min', '92 min', '91 min',
       '102 min', '149 min', '170 min', '112 min', '101 min', '141 min',
       '144 min', '114 min', '150 min', '90 min', '161 min', '128 min',
       '93 min', '129 min', '166 min', '147 min', '134 min', '109 min',
       '105 min', '125 min', '156 min', '123 min', '95 min', '157 min',
       '163 min', '158 min', '89 min', '187 min', '167 min', '84 min',
       '94 min', '85 min', '172 min', '160 min', '168 min', '86 min',
       '97 min', '87 min', '183 min', '188 min', '207 min', '159 min',
       '76 min', '229 min', '238 min', '83 min', '218 min', '77 min',
       '181 min', '191 min', '80 min', '212 min', '78 min', '79 min',
       '82 min', '74 min', '185 min', '75 min', '197 min', '69 min',
       '64 min', '224 min', '68 min', '210 min', '177 min', '193 min',
       '67 min', '174 min', '70 min', '220 min', '321 min', 'Comedy',
       '186 min', 'Action, Crime, Mystery', '198 min', '58 min',
       'Comedy, Drama, Romance', 'Comedy, Romance', '192 min', '242 min',
       'Horror', '204 min', 'Comedy, Drama', '171 min', '63 min',
       'Horror, Sci-Fi, Thriller', 'Action, Biography, Drama', '182 min',
       '176 min', '196 min', 'Drama', '205 min', 'Action, Drama, War',
       '71 min', '259 min', '45 min', 'Fantasy, Romance',
       'Action, Crime, Comedy', 'Crime, Drama, Mystery',
       'Action, Adventure, Drama', 'Drama, Horror, Mystery',
       'Crime, Mystery', '213 min', '72 min', '216 min',
       'Comedy, Western', '317 min', 'Adventure, Drama, Romance',
       'Fantasy, Horror', 'Adventure, Comedy', 'Comedy, Family',
       'Adventure, Comedy, Romance', '366 min', 'Action, Comedy',
       'Adventure, Comedy, Fantasy', 'Action, Crime, Thriller',
       'Action, Adventure, Sci-Fi', 'Drama, Romance'], dtype=object)

In [ ]:
'''
Исключим нецифровые значения
'''

In [9]:
import re

def clear_runtime(runtime):
    return re.sub('\D', '', runtime)

dataset['runtime'].apply(clear_runtime)

0       142
1       152
2       148
3       139
4       154
       ...
4995    102
4996     94
4997
4998     92
4999    120
Name: runtime, Length: 5000, dtype: object

In [11]:
dataset['runtime_clear'] = dataset['runtime'].apply(clear_runtime)
dataset['runtime_clear']

0       142
1       152
2       148
3       139
4       154
       ...
4995    102
4996     94
4997
4998     92
4999    120
Name: runtime_clear, Length: 5000, dtype: object

In [ ]:
'''
Проверим, есть ли действительно пропущенные значения
'''

In [12]:
dataset['runtime_clear'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: runtime_clear, Length: 5000, dtype: bool

In [13]:
dataset['runtime_clear'][4997]

''

In [14]:
type(dataset['runtime_clear'][4997])

str

In [ ]:
'''
Отфильтруtv датасет, исключив все такие значения (строковые). 
'''

In [15]:
dataset = dataset[dataset['runtime_clear']!='']

In [16]:
dataset.shape

(4970, 12)

In [17]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4970 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster         4970 non-null   object
 1   title          4970 non-null   object
 2   certificate    4970 non-null   object
 3   runtime        4970 non-null   object
 4   genre          4970 non-null   object
 5   rating         4970 non-null   float64
 6   about          4956 non-null   object
 7   director       4970 non-null   object
 8   stars          4970 non-null   object
 9   votes          4970 non-null   object
 10  gross_earn     4574 non-null   object
 11  runtime_clear  4970 non-null   object
dtypes: float64(1), object(11)
memory usage: 504.8+ KB

In [ ]:
'''
Приведем признак runtime_clear в формат int.
'''

In [18]:
dataset['runtime_clear'] = dataset['runtime_clear'].astype(int)

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4970 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   poster         4970 non-null   object
 1   title          4970 non-null   object
 2   certificate    4970 non-null   object
 3   runtime        4970 non-null   object
 4   genre          4970 non-null   object
 5   rating         4970 non-null   float64
 6   about          4956 non-null   object
 7   director       4970 non-null   object
 8   stars          4970 non-null   object
 9   votes          4970 non-null   object
 10  gross_earn     4574 non-null   object
 11  runtime_clear  4970 non-null   int32
dtypes: float64(1), int32(1), object(10)
memory usage: 485.4+ KB

In [ ]:
'''
Приведем gross_earn к числовому типу данных.
'''

In [20]:
dataset['gross_earn'].tail()

4994       NaN
4995    $9.40M
4996       NaN
4998    $6.67M
4999    $8.20M
Name: gross_earn, dtype: object

In [21]:
def clear_gross_earn(gross_earn):
  return re.sub('\D', '', gross_earn)

dataset['gross_earn'] = dataset['gross_earn'].apply(clear_gross_earn)

TypeError: expected string or bytes-like object

In [ ]:
'''
Есть пропущенные значения
'''

In [22]:
dataset['gross_earn'].isna().sum()

396

In [ ]:
'''
Обработаем эти значения, заменив на nan
'''

In [30]:
import numpy as np
from numpy import int64

def clear_gross_earn(gross_earn):
  if pd.isna(gross_earn):
    return np.nan
  else:
    return re.sub('\D', '', gross_earn)

dataset['gross_earn'] = dataset['gross_earn'].apply(clear_gross_earn)

dataset['gross_earn_clear'] = dataset['gross_earn'].apply(clear_gross_earn)

In [32]:
dataset['gross_earn_clear'] = dataset['gross_earn_clear'].astype('Int64')

In [33]:
dataset['gross_earn_clear'].tail()

4994    <NA>
4995     940
4996    <NA>
4998     667
4999     820
Name: gross_earn_clear, dtype: Int64

In [34]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4970 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   poster            4970 non-null   object
 1   title             4970 non-null   object
 2   certificate       4970 non-null   object
 3   runtime           4970 non-null   object
 4   genre             4970 non-null   object
 5   rating            4970 non-null   float64
 6   about             4956 non-null   object
 7   director          4970 non-null   object
 8   stars             4970 non-null   object
 9   votes             4970 non-null   object
 10  gross_earn        4574 non-null   object
 11  runtime_clear     4970 non-null   int32
 12  gross_earn_clear  4574 non-null   Int64
dtypes: Int64(1), float64(1), int32(1), object(10)
memory usage: 529.0+ KB

In [ ]:
'''
Сортировка по рейтингу
'''

In [35]:
sorted_dataset = dataset.sort_values('rating', ascending=False)
sorted_dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear,gross_earn_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",2834,142,2834
3788,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hababam Sinifi,12A,87 min,"Comedy, Drama",9.2,"Lazy, uneducated students share a very close b...",Ertem Egilmez,"('Kemal Sunal',), ('Münir Özkul',), ('Halit Ak...","40,492",NaN,87,<NA>
9,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather,X,175 min,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"('Marlon Brando',), ('Al Pacino',), ('James Ca...","18,19,641",13497,175,13497
32,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather: Part II,X,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"('Al Pacino',), ('Robert De Niro',), ('Robert ...","12,49,182",5730,202,5730
24,https://m.media-amazon.com/images/S/sash/4Fyxw...,Schindler's List,15,195 min,"Biography, Drama, History",9.0,"In German-occupied Poland during World War II,...",Steven Spielberg,"('Liam Neeson',), ('Ralph Fiennes',), ('Ben Ki...","13,33,407",9690,195,9690

In [ ]:
'''
Переопределение индексов
'''

In [36]:
sorted_dataset.reset_index(drop=True, inplace=True)
sorted_dataset.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn,runtime_clear,gross_earn_clear
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",2834,142,2834
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,Hababam Sinifi,12A,87 min,"Comedy, Drama",9.2,"Lazy, uneducated students share a very close b...",Ertem Egilmez,"('Kemal Sunal',), ('Münir Özkul',), ('Halit Ak...","40,492",NaN,87,<NA>
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather,X,175 min,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"('Marlon Brando',), ('Al Pacino',), ('James Ca...","18,19,641",13497,175,13497
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Godfather: Part II,X,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"('Al Pacino',), ('Robert De Niro',), ('Robert ...","12,49,182",5730,202,5730
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Schindler's List,15,195 min,"Biography, Drama, History",9.0,"In German-occupied Poland during World War II,...",Steven Spielberg,"('Liam Neeson',), ('Ralph Fiennes',), ('Ben Ki...","13,33,407",9690,195,9690

In [ ]:
'''
Сохранение датасета
'''

In [ ]:
sorted_dataset.to_csv('movies_clean.csv')